html, body {
	margin: 10px 10px;
}

.clsMonospaceBold {
	font-family: monospace;
	font-size: 130%;
	font-weight: bold;
}

.clsMonospace {
	color: #0000FF;
	font-family: monospace;
	font-size: 120%;
}

.clsMonospaceRed {
	color: #800000;
	font-family: monospace;
	font-size: 120%;
}

.clsMonospaceCyan {
	color: #388D9A;
	font-family: monospace;
	font-size: 120%;
}

.clsMonospaceBlack {
	color: #000;
	font-family: monospace;
	font-size: 120%;
}

.clsDivCode {
	background-color: #DDDDDD;
	border: 1px solid #999999;
	font-family: monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.clsLineNumber {
	margin-right: 5px;
}
