html, body {
	margin: 10px 10px;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 20px;
}

.clsMonospaceBold {
	font-family: monospace;
	font-size: 130%;
	font-weight: bold;
}

.clsMonospace {
	color: #0000FF;
	font-family: monospace;
	font-size: 120%;
}

.clsDivCode {
	background-color: #DDDDDD;
	border: 1px solid #999999;
	font-family: monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.clsLineNumber {
	background-color: #FFFFFF;
	color: #000;
	margin-right: 5px;
}
