html, body {
	margin: 10px 10px;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 20px;
}

.clsMonospaceBold {
	font-family: monospace;
	font-size: 140%;
	font-weight: bold;
}

.clsMonospace {
	font-family: monospace;
	font-size: 140%;
}

.clsDivCode {
	background-color: #DDDDDD;
	border: 1px solid #999999;
	font-family: monospace;
	padding: 20px 20px;
}
